ol.striped-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ol.striped-list > li {
    border-bottom: 1px solid rgb(221,221,221);
    padding: 6px;
}
ol.striped-list > li:nth-of-type(odd) {
    background-color: #e9e9f9 ;
}
ol.striped-list > li:last-child {
    border-bottom: none;
}

.error-box {
    border: 1px solid #FF0000;
    padding: 10px;
    background-color: #FFEEEE;
    color: #FF0000;
    margin-top: 10px;  /* Optional: Adjust the margin as needed */
}

.error-box-empty {
    color: #00fff0;
    padding: 10px;
    background-color: #EEFFFE;
    color: #00fff0;
    margin-top: 10px;  /* Optional: Adjust the margin as needed */
}
.error-text {
    margin: 0;  /* Optional: Remove default margins on <p> tag */
}
 .input{
    size=1;
 }
