<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="style.css">
      <title>Simple HTML Form</title>
   </head>
   <body>

      <h2>Mortage Calculator</h2>

      <form th:action="@{/mortage}" method="post">
         <label for="customer">Customer:</label>
         <input type="text" id="customer" name="customer" required />

         <label for="total">Total:</label>
         <input type="text" id="total" name="total" required />

         <label for="interest">Interest:</label>
         <input type="text" id="interest" name="interest" required />

         <label for="years">Years:</label>
         <input type="number" id="years" name="years" required />

         <button type="submit">Add Prospect</button>
         
         <div th:if="${param.error ne null}" class="error-box">
            <p class="error-text">Invalid input. Please check your values.</p>
         </div>


      <ol class="striped-list">
         <li th:each="prospectString : ${prospects}" th:text="${prospectString}"></li>
      </ol>



   </body>
</html>

